		* {
			padding: 0;
			margin: 0;
		}
		body,
		button,
		input,
		textarea {
				font: 100%/1.5 'Noto Sans', sans-serif;
    		color: #555;
			overflow: hidden;

		}
		ul, li {
			list-style: none;
		}
		i {
			padding-right: .5rem;
		}
		.text-sm {
			font-size: .75rem;
		}
		.relative {
			position: relative;
		}
		.no-border {
			border: none;
		}
		.turn90deg {
			transform: rotate(90deg) .4s ease;
		}
		.container-selected {
			background: white;
			color: #004664;
			transition: all .6s ease;
		}
		.container-deselect {
			background: #004664;
			color: #297AA9;
			transition: all .6s ease;
		}
		.container {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			transition: all .6s ease;
		}
		.site-nav, .nav-breadcrumb, section {
			padding: .5rem 1rem;
		}
		.site-nav {
			padding-bottom: 0;
			background: #004664;
			height: 45px;
		}
		.nav-breadcrumb, .nav-panel {
			background: #4b8db7;
			color: white;
		}
		.nav-panel, .subnav-panel, .sub-subnav-panel {
			position: absolute;
			top: 53px;
			background: rgb(41, 122, 169);
			box-sizing: border-box;
			color: white;
			font-size: .85rem;
			display: table;
		}
		.nav-panel {
			background-image: url('sky.png');
			background-origin: border-box;
      background-repeat: no-repeat;
			background-size: 100% 100px;
			z-index: 1000;
			left: -100%;
			height: 100vh;
			height: calc(100vh - 53px);
			width: 100%;
		}
		.nav-panel-header {
			height: 68px;
			padding: 1rem 1rem;
		}
		.nav-panel-section  {
			padding: 1.2rem 1rem;
			text-transform: uppercase;
			border-bottom: 1px rgba(255, 255, 255, .1) solid;
			flex-grow: 2;
		}
		.nav-panel-has-sub  {
			background-color: rgba(255, 255, 255, .2);
			border-bottom: 1px rgba(255, 255, 255, 0) solid;
			width: 1.5rem;
			text-align: center;
			flex: none;
		}

		.subnav-panel {
			overflow: hidden;
			z-index: 2000;
			left: 100%;
			top: 153px;
			border-left: 2px rgba(255, 255, 255, .3) solid;
			width: calc(100% - 47px);
			height: 100vh;
			height: calc(100vh - 153px);
		}

		.subnav-panel-header {
			padding: 1.23rem 1rem;
			text-transform: uppercase;
			background-color: rgba(255, 255, 255, .2);
		}
		.subnav-panel-section  {
			padding: .75rem 1rem .75rem 1.8rem;
			text-transform: capitalize;
			border-bottom: 1px rgba(255, 255, 255, .1) solid;
			flex-grow: 2;
		}
		.subnav-panel-has-sub  {
			border-bottom: 1px rgba(255, 255, 255, .1) solid;
			text-align: center;
			flex: none;
		}
		.sub-subnav-heading {
			background-color: rgba(255, 255, 255, .3);
			text-transform: capitalize;
		}
		.sub-subnav-section {
			padding: .75rem 1rem .75rem 3rem;
			border-bottom: 1px rgba(255, 255, 255, .1) solid;
		}
